<%= form_for @circle, :url => { :controller => "admin/circles", :action => :create } do |f| %>
  <% if @circle.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@circle.errors.count, "error") %> prohibited this admin_circle from being saved:</h2>

      <ul>
      <% @circle.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="form-group col-xs-6">
      <label>サークル名</label>
      <%= f.text_field :name, class: "form-control" %>
    </div>

    <div class="form-group col-xs-6">
      <label>サークルカテゴリー</label>
      <%= f.select :category, Circle.categories.keys.to_a, {}, class: 'form-control' %>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-6">
      <%= f.submit "作成", class: "btn btn-primary" %>
    </div>
  </div>
<% end %>
