<div class="Form">
  <div class="form-group">
    <label>Title</label>
    <%= f.text_field :title, :placeholder => "スレッドのタイトル", class: "form-control" %>
  </div>

  <div class="form-group">
    <label >Description</label>
    <%= f.text_area :description, :placeholder => "このスレッドはテニスサークルに入りたいひとで気軽に話し合うスレッドです！", rows: 5, class: "form-control" %>
  </div>

  <div class="Form__line">
  </div>


  <div class="Form__group">
    <label class="">関連するサークル</label>
    <div class=f"orm-group">
      <p>
        Sport
      </p>
      <div class="">
        <%= f.collection_select(
              :belong_id,
              Circle.where(category: 0),
              :id,
              :name,
              { include_blank: "No Selected" },
              { class: "form-group" }
        ) %>
      </div>
    </div>
    <div class="form-group">
      <p class="">
        Culture
      </p>
      <div class="">
        <%= f.collection_select(
              :belong_id,
              Circle.where(category: 1),
              :id,
              :name,
              { include_blank: "No Selected" },
              { class: "form-group" }
        ) %>
      </div>
    </div>
  </div>

  <div class="Form__submit">
    <%= f.submit "Update", class: "btn btn-success", data: { disable_with: 'Connecting...' } %>
  </div>
</div>
