<%= form_for(@user) do |f| %>
<div class="Form">
  <div class="Form__group">
    <label class="Form__label">TwitterID</label>
    <%= f.text_field :nickname, disabled: true, class: "Form__text-box Form__item" %>
  </div>


  <div class="Form__group">
    <label class="Form__label">Name</label>
    <%= f.text_field :name, class: "Form__text-box Form__item" %>
  </div>

  <div class="Form__group">
    <%= f.label :sex, class: "Form__label" %>
    <%= f.select :sex, User.localed_statuses, {}, class: 'Form__select-box Form__item' %>
  </div>

  <div class="Form__group">
    <%= label_tag :name, 'Faculty', class: "Form__label" %>
    <%= f.select_tag('faculty_id', options_from_collection_for_select(Faculty.all, :id, :faculty_name, {selected: @user.faculty_id}), prompt: "No Selected", class: "Form__select-box Form__item for_hidden") %>
  </div>
  <div class="Form__group">
    <label class="Form__label">Department</label>
    <%= render partial: 'departments', locals: {faculty_id: Faculty.first.id} %>
  </div>
  <p class="Form__hidden">
    <%= department_name = Department.find(@user.department_id).department_name if @user.department_id.present? %>
  </p>
  <%= f.hidden_field :faculty_id %>
  <%= f.hidden_field :department_id %>

  <div class="Form__line">
    <p>
      以下の情報を入力すれば、
      <br>よりマッチング率の高い友達に出会えます。
    </p>
  </div>

  <div class="Form__group">
    <label class="Form__label Form__label--wide">興味のあるサークル</label>
    <div class="Check">
      <p class="Check__label">
        Sport
      </p>
      <div class="Check__group">
        <%= collection_check_boxes(:user, :circle_ids, Circle.where(category: 0), :id, :name) do |b| %>
          <%= b.label { b.check_box + b.text } %>
        <% end %>
      </div>
    </div>
    <div class="Check">
      <p class="Check__label">
        Culture
      </p>
      <div class="Check__group">
        <%= collection_check_boxes(:user, :circle_ids, Circle.where(category: 1), :id, :name) do |b| %>
          <%= b.label { b.check_box + b.text } %>
        <% end %>
      </div>
    </div>
  </div>
<<<<<<< HEAD
</div>
<div class="row">
  <div class="col-md-6 col-xs-12">
    <%= link_to "利用規約", policies_path , class: "btn btn-default", target: "_new"%>
    <div class="checkbox">
      <label>
        <input type="checkbox"> 同意しますか？
      </label>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-6 col-xs-12">
    <%= f.submit class: "btn btn-success" %>
  </div>


</div>


<div class="Form__submit">
  <%= f.submit "SAVE", class: "Button Button__submit" %>
</div>
<% end %>


<div class="Next">
  <%= link_to "BACK", users_path, class: "Next__button Next__button--back" %>
</div>
