<%= form_for(@user) do |f| %>
<div class="row center-block">
  <div class="row">
    <div class="form-group col-xs-12">
      <label class="form-label">ニックネーム</label>
      <%= f.text_field :name, class: "form-control" %>
    </div>
  </div>
  <div class="row">
    <div class="form-group col-xs-12">
      <label class="form-label">Twitter</label>
      <%= f.text_field :twitter_id, class: "form-control" %>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-6 col-xs-12">
    <%= link_to "利用規約", policies_path , class: "btn btn-default", target: "_new"%>
    <div class="checkbox">
      <label>
        <input type="checkbox"> 同意しますか？
      </label>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-6 col-xs-12">
    <%= f.submit class: "btn btn-success" %>
  </div>
</div>
<% end %>
