<%= form_for(@user) do |f| %>
<div class="row center-block">
  <div class="row">
    <div class="form-group col-md-6 col-sm-6 col-xs-6">
      <%= label_tag :name, '学部' %>
      <%= f.select_tag('faculty_id', options_from_collection_for_select(Faculty.all, :id, :faculty_name, {selected: params[:faculty_id]}), prompt: "--指定なし--", class: "form-control for_hidden") %>
    </div>
    <div class="form-group col-md-6 col-sm-6 col-xs-6">
      <label class="form-label">学科名</label>
      <%= render partial: 'departments', locals: {faculty_id: Faculty.first.id} %>
    </div>
  </div>
  <%= f.hidden_field :faculty_id %>
  <%= f.hidden_field :department_id %>
  <div class="row">
    <div class="form-group col-xs-12">
      <label class="form-label">ニックネーム</label>
      <%= f.text_field :name, class: "form-control" %>
    </div>
  </div>
  <div class="row">
    <div class="form-group col-xs-12">
      <label class="form-label">Twitter</label>
      <%= f.text_field :twitter_id, class: "form-control" %>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-6 col-xs-12">
    <%= f.submit class: "btn btn-success" %>
  </div>
</div>
<% end %>
