<div class="Rikkyo__logo">
  <div class="Wrapper">
    <% @users.each do |user| %>
      <div class="User">
        <div class="User__twitter">
          <h2><a href="https://twitter.com/<%= user.twitter_id %>">@<%= user.twitter_id %></a></h2>
        </div>
        <div class="User__name">
          <p>
            <%= user.name %> / <%= Department.find(user.department_id).department_name %>
          </p>
        </div>
      </div>
    <% end %>


    <div class="User__new-button">
      <%= link_to "登録", new_user_path, class: "Button Button__new" %>
    </div>
  </div>
</div>
<div class="Next">
  <p class="Next__button">
    NEXT
  </p>
</div>
