<%= form_for @user, :url => { :controller => "admin/users", :action => :update } do |f| %>
<div class="row">
  <div class="form-group col-xs-12">
    <label class="form-label">ニックネーム</label>
    <%= f.text_field :name, class: "form-control" %>
  </div>
</div>
<div class="row">
  <div class="form-group col-xs-12">
    <label class="form-label">Twitter</label>
    <%= f.text_field :nickname, class: "form-control" %>
  </div>
</div>
<div class="row">
  <div class="form-group col-xs-6">
    <label class="form-label Admin__text-black">公開状態</label>
    <%= f.select :published, {"公開"=>true,"非公開"=>false}, :selected => @user.published, class: "form-control" %>
  </div>
  <div class="form-group col-xs-6">
    <label class="form-label Admin__text-black">記入状態</label>
    <%= f.select :completed, {"完了"=>true,"未完了"=>false}, :selected => @user.completed, class: "form-control" %>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <%= f.submit class: "btn btn-success" %>
  </div>
</div>
<% end %>
