<div class="row">
  <div class="col-xs-8 col-xs-offset-2">
    <table class="table">
      <tr>
        <th>
          学部
        </th>
        <th>
          学科
        </th>
        <th>
          ニックネーム
        </th>
        <th>
          ツイッターID
        </th>
        <th>
          公開状態
        </th>
      </tr>
      <% @users.each do |user| %>
      <tr>
        <td>
          <%= Faculty.find(user.faculty_id).faculty_name %>
        </td>
        <td>
          <%= Department.find(user.department_id).department_name %>
        </td>
        <td>
          <%= link_to user.name, edit_admin_user_path(user), class: "link" %>
        </td>
        <td>
          <%= user.twitter_id %>
        </td>
        <td>
          <%= user.published %>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
