<div class="row">
  <div class="col-sm-8 col-xs-12 col-sm-offset-2">
    <table class="table table-striped Admin__table">
      <tr>
        <th>
          学部
        </th>
        <th>
          学科
        </th>
        <th>
          ニックネーム
        </th>
        <th>
          ツイッターID
        </th>
        <th>
          公開状態
        </th>
        <th>
          記入状態
        </th>
      </tr>
      <% @users.each do |user| %>
      <tr>
        <td>
          <%= Faculty.find(user.faculty_id).faculty_name if user.faculty_id.present? %>
        </td>
        <td>
          <%= Department.find(user.department_id).department_name if user.department_id.present? %>
        </td>
        <td>
          <%= link_to user.name, edit_admin_user_path(user), class: "link" %>
        </td>
				<td>
					<a href="https://twitter.com/<%= user.nickname %>" target="_blank"><%= user.nickname %></a>
        </td>
        <td>
          <%= user.published %>
        </td>
        <td>
          <%= user.completed %>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
